body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
}
.contenedor {
}
.encabezado {
  display: flex;
}
.img-logo-main {
  width: 4%;
  margin-right: 10px;
}
.titulo-logo {
  font-size: 3em;
}
section {
  padding: 5px;
}
.principal {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.lado-1 {
  flex: 1;
  width: 70%;
}
.titulo-principal {
  font-size: 10em;
  text-align: center;
}
.subtitulo {
  font-size: 2.5em;
  text-align: center;
}
.botonera {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
.btn-lg {
  margin-top: 10px;
}
.btn {
  border-radius: 18px;
  height: 60px;
  width: 30%;
  font-size: 1.5em;
}
.icono-btn {
  width: 20px;
}

.btn-negativo {
  background-color: rgb(216, 216, 216);
  color: black;
}
.btn-negativo:hover {
  color: white;
  background-color: black;
pointer-events: fill;
}
.btn-positivo {
  background-color: black;
  color: white;
}
.btn-positivo:hover {
  background-color: white;
  color: black;
}
.bi-arrow-up-right {
  margin-right: 5px;
}
@media screen and (max-width: 1000px) {
  .lado-2 {
    display: none;
  }
  .fondo{
    display: none;
  }
  .titulo-principal {
    font-size: 5em;
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .img-woman {
    width: 20%;
  }
  .lado-2 {
    flex: 1;
    width: 30%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px)and (min-width: 700px)  {
  .img-woman {
    width: 30%;
  }
  .lado-2 {
    flex: 1;
    width: 30%;
    display: flex;
    justify-content: center;
  }
  
}
@media screen and (max-width: 950px)and (min-width: 700px) {
  .btn {
    border-radius: 18px;
    height: 50px;
    width: 45%;
    font-size: 1em;
  }
}
@media screen and (max-width: 700px) {

 
  .titulo-principal {
    font-size: 5em;
    text-align: center;
  }
  .subtitulo {
    font-size: 2em;
    text-align: center;
  }
  .btn {
    border-radius: 18px;
    height: 50px;
    width: 40%;
    font-size: 1em;
  }

  .titulo-logo {
    font-size: 2em;
  }

}

@media screen and (min-width: 701px) {
  .fondo {
    position: relative;
    width: 100vw;
    height: 1vh;
    z-index: -200;
   
  }
  .circulo {
    width: 80vh;
    height: 80vh;
    background-color: #d9d9d9;
    position: absolute;
    border-radius: 100rem;
    bottom:-40vh;
    right: -40vh;
  }
}

.seccion-oscuro {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
 
}
.titulo-secundario {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
.soluciones-en-texto {
  text-decoration: underline;
}
.contenedor-acciones {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.item-fondo {
  background-color: aliceblue;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.item {
  width: 250px;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.resumen {
  font-weight: bold;
  font-size: 1.2em;
}
.icon-max {
  width: 100px;
}

.celda {
  display: flex;
  justify-content: end;
  margin-bottom: 25px;
  width: 100%;
}
.celda-larga {
  display: flex;
  justify-content: center;
}
.titulo-pie {
  text-align: center;
  font-size: 1.2em;
}
.img-black {
  color: white;
  width: 30px;
}
footer {
  padding-bottom: 10px;
  padding-top: 50px;
}
.celda label {
  margin-right: 10px;
  font-size: 1.2em;
}
.celda input {
  border-radius: 0.5rem;
  padding: 10px;
  font-size: 1.2em;
  width: 70%;
}
 
.form-inter{
  width: 45%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-right: 10%;
 
}
form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
@media screen  and (min-width: 769px)  and (max-width: 1493px){
  .form-inter{
    width: 100%;
    
  }
  .celda {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .celda input {
    border-radius: 0.5rem;
    padding: 10px;
    font-size:1em;
    width: 100%;
 
  }
}
@media screen  and (max-width: 768px) {
  .form-inter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 100%;
  }
  .celda {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .celda input {
    border-radius: 0.5rem;
    padding: 10px;
    font-size:1em;
    width: 100%;
 
  }
 
}

.msj {
  height: 100px;

}
.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
}
.btn-lg {
  border-radius: 18px;
  height: 50px;
  width:50%;
  font-size: 1.5em;
}
.btn-lg:hover {
  background-color: black;
  border-color: white;
  color: white;
}
 
 